{{> header }}

<main id="main">
    <div class="container mt-5">
        <h1>Створити зображення</h1>

        <div class="row">
            <div class="col-12 col-md-9">
                <canvas id="imageCanvas" width="800" height="600"></canvas>

                <form action="/create" method="post" id="create-form">
                    <div class="mb-3">
                        <label for="image-title" class="form-label">Заголовок зображення</label>
                        <input type="text" class="form-control" id="image-title" name="imageTitle" placeholder="Image Title" required="required">
                    </div>
                    <input type="text" readonly class="form-control-plaintext" id="image-base64" name="imageBase64">
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Зберегти</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>

<script>


    try {
        var imageCanvas;
        var ctx;
        var width, height;
        var flag = false;
        var prevX = 0, prevY = 0;
        var currX = 0, currY = 0;
        var lineColor = "black", lineWidth = 2;

        function init() {
            imageCanvas = document.getElementById("imageCanvas");
            ctx = imageCanvas.getContext("2d");
            width = imageCanvas.width;
            height = imageCanvas.height;
            imageCanvas.style.border = "1px solid black";

            imageCanvas.addEventListener("mousemove", function (e) {

                findxy('move', e)
            }, false);
            imageCanvas.addEventListener("mousedown", function (e) {
                console.log(e.offsetX, e.offsetY);
                findxy('down', e)
            }, false);
            imageCanvas.addEventListener("mouseup", function (e) {
                findxy('up', e)
            }, false);
            imageCanvas.addEventListener("mouseout", function (e) {
                findxy('out', e)
            }, false);
        }

        function findxy(res, e) {
            if (res == 'down') {
                currX = e.offsetX;
                currY = e.offsetY;
                flag = true;
            }
            if (res == 'up' || res == "out") {
                flag = false;
            }
            if (res == 'move') {
                if (flag) {
                    prevX = currX;
                    prevY = currY;
                    currX = e.offsetX;
                    currY = e.offsetY;
                    draw();
                }
            }
        }

        function draw() {
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
            ctx.lineTo(currX, currY);
            ctx.strokeStyle = lineColor;
            ctx.lineWidth = lineWidth;
            ctx.stroke();
            ctx.closePath();
        }

        init();

        var createForm = document.getElementById("create-form");
        var imageBase64 = document.getElementById("image-base64");

        createForm.addEventListener("submit", (e) => {
            e.preventDefault();
            imageBase64.value = imageCanvas.toDataURL();
            createForm.submit();
        })


    } catch(error) {
        console.log(error.message)
    }


</script>
{{> footer }}

