{{> header }}

<main class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <h1 class="pb-5">Завантажити зображення</h1>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" name="imageTitle" class="form-control" aria-label="image title" required>
                    </div>
                    <div class="mb-3">
                        <input type="file" name="myImage" class="form-control" aria-label="file example" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</main>


{{> footer }}